{%include 'sitio/cabecera.html' %}
<div class="row align-items-md-stretch">
    <div class="col-md-12">
        <div class="h-100 p-5 text-white bg-primary border rounded-3" style="font-size: 1.2em; text-align: justify;">
                        <h2>Nosotros</h2>
                    </br>
                    <p>
                        <span style="font-size: 1.3em;">
                            Nica Shangri-La busca ofrecer una experiencia de compra más cercana y personalizada para los usuarios nicaragüenses. Desde la venta de artesanías tradicionales hasta productos modernos y tecnológicos, la plataforma aspira a ser un escaparate completo de la diversidad de la oferta local. Además, al asumir la logística de entrega, Nica Shangri-La no solo simplifica el proceso para los usuarios, sino que también contribuye al desarrollo de una cadena de suministro eficiente dentro del país, potenciando así la economía local y fomentando el emprendimiento en Nicaragua.
                        </span>
                    </p>
                </div>
                    </div>
                </div>  
            </div>
            
{%include 'sitio/pie.html' %}