{%include 'sitio/cabecera.html' %}
            
<div class="container">
    <div class="row row-cols-3 row-cols-md-4 g-4 justify-content-left">
        {% for producto in productos %}
        <div class="col">
            <div class="card h-100">
                <div class="overflow-hidden" method="post">
                    <img src="/img/{{ producto[2] }}" class="card-img-top" alt="{{ producto[2] }}" style="width: 100%;">
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <h4 class="card-title">{{ producto[1] }}</h4>
                    <h4 class="card-title">U$ {{ producto[6] }}</h4>
                    <p class="card-text"></p>

                    <form action="/detalleproductos" method="post">
                        <input type="hidden" name="txtID" value="{{producto[0]}}">
                        <button type="submit" class="btn btn-success">Ver detalle</button>
                    </form>
                    
                </div>
            </div>
        </div>
        {% endfor %}               
    </div>
</div>



        
            
{%include 'sitio/pie.html' %}