{%include 'admin/cabecera.html' %}
    <main>
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div
                        class="h-100 p-5 text-white bg-primary border rounded-3"
                    >
                        <h2>Bienvenido <strong> administrador</strong> al dashboard de NicaShangri-La</h2>
                        <p>
                            Aqui podra administrar los productos
                        </p>
                        <button
                            class="btn btn-outline-primary"
                            type="button"
                            href="/admin/productos"
                        >
                            Empezar
                        </button>
                    </div>
                </div>
                
            </div>
            
    </main>
{%include 'admin/pie.html' %}
       

        
        
