<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tienda en línea Nica Shangri-La, una plataforma que conecta a compradores y vendedores locales en Nicaragua.">
    <title>NicaShangrila</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="d-flex flex-column min-vh-100"> <!-- Flexbox para asegurar que el footer esté al fondo -->
    <!-- Header Section -->
    <header>
        <div class="container text-center py-4">
            <h1>Tienda en Línea</h1>
            <p>Proyecto universitario</p>
        </div>
        
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">Nica Shangri-La</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/nosotros' %}active{% endif %}" href="/nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/productos' %}active{% endif %}" href="/productos">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/admin/login' %}active{% endif %}" href="/admin/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="container my-5 flex-grow-1">
        <div class="login-form">
            <h2>Inicio de Sesión</h2>
            <form action="/admin/login" method="post">
                <div class="mb-3">
                    <label for="txtUsuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control form-control-sm" id="txtUsuario" name="txtUsuario" required>
                </div>
                <div class="mb-3">
                    <label for="txtPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control form-control-sm" id="txtPassword" name="txtPassword" required>
                </div>
                
                {% if message %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error:</strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
    
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Entrar</button>
                    <a href="/admin/registro" class="btn btn-primary">Registrarse</a>
                </div>
            </form>
        </div>
    </main>
    

    <!-- Footer Section -->
    <footer class="text-white py-3 mt-auto">
        <div class="container text-center">
            <p>Email: ulisestm3@gmail.com</p>
            <p>Web creada por Ulises Zuniga</p>
            <p>&copy; Univalle 2024 - 220100164</p>
        </div>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
