<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tienda en línea Nica Shangri-La, una plataforma que conecta a compradores y vendedores locales en Nicaragua.">
    <title>NicaShangrila</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="d-flex flex-column min-vh-100"> <!-- Flexbox para asegurar que el footer esté al fondo -->
    <!-- Header Section -->
    <header>
        <div class="container text-center py-4">
            <h1>Tienda en Línea</h1>
            <p>Proyecto universitario</p>
        </div>
        
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/admin">Nica Shangri-La</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <!-- Usa '/admin/index' para la URL de inicio de administrador -->
                            <a class="nav-link {% if request.path == '/admin' %}active{% endif %}" href="/admin">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/admin/nosotros' %}active{% endif %}" href="/admin/nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/admin/editar' %}active{% endif %}" href="/admin/editar">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/admin/login' %}active{% endif %}" href="/admin/login">Salir</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <!-- Main Content -->
    <main class="container my-5">
        <div class="container">
            <!-- Primera fila -->
            <div class="row">
                <div class="col-lg-5 mb-3">
                    <!-- Formulario para agregar productos -->
                    <div class="card">
                        <div class="card-header">Datos del producto</div>
                        <div class="card-body">
                            <form action="/admin/productos/guardar" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="txtNombre" class="form-label">Nombre (*)</label>
                                    <input type="text" class="form-control" name="txtNombre" id="txtNombre" placeholder="Escriba el nombre del producto" required>
                                </div>
                                <div class="mb-3">
                                    <label for="txtImagen1" class="form-label">Imagen 1 (*)</label>
                                    <input type="file" class="form-control" name="txtImagen1" id="txtImagen1" accept="image/*" placeholder="Seleccione la imagen del producto" required>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="txtImagen2" class="form-label">Imagen 2</label>
                                    <input type="file" class="form-control" name="txtImagen2" id="txtImagen2" accept="image/*" placeholder="Seleccione de la imagen del producto">
                                </div>
                                <div class="mb-3">
                                    <label for="txtImagen3" class="form-label">Imagen 3</label>
                                    <input type="file" class="form-control" name="txtImagen3" id="txtImagen3" accept="image/*" placeholder="Seleccione de la imagen del producto">
                                </div>
                                <div class="mb-3">
                                    <label for="txtVideo" class="form-label">Video</label>
                                    <input type="file" class="form-control" name="txtVideo" id="txtVideo" accept="video/*" placeholder="Seleccione el video del producto">
                                </div>                            
                                <div class="mb-3">
                                    <label for="txtPrecio" class="form-label">Precio (*)</label>
                                    <input type="text" class="form-control" name="txtPrecio" id="txtPrecio" placeholder="Ingrese el precio del producto" required>
                                </div>
                                <div class="mb-3">
                                    <label for="txtDescripcion" class="form-label">Descripcion (*)</label>
                                    <input type="text" class="form-control" name="txtDescripcion" id="txtDescripcion" placeholder="Ingrese la descripción del producto" required>
                                </div>
                                <button type="submit" class="btn btn-success">Agregar</button>
                            </form>
                                <br>
                            <h6>(*) Campos obligatorios</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mb-3">
                    <!-- Formulario para editar productos -->
                    <div class="card">
                        <div class="card-header">Editar producto</div>
                        <div class="card-body">
                            <form action="/admin/editar" method="post">
                                <button type="submit" class="btn btn-success">Editar Avanzado</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Segunda fila -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Tabla de productos -->
                    <div class="table-responsive">
                        <table class="table table-primary">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Edicion</th>
                                    <th scope="col">Eliminacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                <tr>
                                    <td>{{ producto[0] }}</td>
                                    <td>{{ producto[1] }}</td>
                                    <td>
                                        <img src="/img/{{ producto[2] }}" class="img-thumbnail" alt="{{ producto[2] }}" style="max-width: 100px;">
                                    </td>
                                    <td>{{ producto[6] }}</td>
                                    <td>
                                        <form action="/admin/productos/actalizar" method="post">
                                            <input type="hidden" name="txtID" value="{{ producto[0] }}">
                                            <button type="submit" class="btn btn-primary">Editar</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/admin/productos/borrar" method="post">
                                            <input type="hidden" name="txtID" value="{{ producto[0] }}">
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    

    <!-- Footer Section -->
    <footer class="text-white py-3 mt-auto">
        <div class="container text-center">
            <p>Email: ulisestm3@gmail.com</p>
            <p>Web creada por Ulises Zuniga</p>
            <p>&copy; Univalle 2024 - 220100164</p>
        </div>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>



{% include 'admin/cabecera.html' %}
<main>
    <div class="container">
        <!-- Primera fila -->
        <div class="row">
            <div class="col-lg-5 mb-3">
                <!-- Formulario para agregar productos -->
                <div class="card">
                    <div class="card-header">Datos del producto</div>
                    <div class="card-body">
                        <form action="/admin/productos/guardar" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="txtNombre" class="form-label">Nombre (*)</label>
                                <input type="text" class="form-control" name="txtNombre" id="txtNombre" placeholder="Escriba el nombre del producto" required>
                            </div>
                            <div class="mb-3">
                                <label for="txtImagen1" class="form-label">Imagen 1 (*)</label>
                                <input type="file" class="form-control" name="txtImagen1" id="txtImagen1" accept="image/*" placeholder="Seleccione la imagen del producto" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="txtImagen2" class="form-label">Imagen 2</label>
                                <input type="file" class="form-control" name="txtImagen2" id="txtImagen2" accept="image/*" placeholder="Seleccione de la imagen del producto">
                            </div>
                            <div class="mb-3">
                                <label for="txtImagen3" class="form-label">Imagen 3</label>
                                <input type="file" class="form-control" name="txtImagen3" id="txtImagen3" accept="image/*" placeholder="Seleccione de la imagen del producto">
                            </div>
                            <div class="mb-3">
                                <label for="txtVideo" class="form-label">Video</label>
                                <input type="file" class="form-control" name="txtVideo" id="txtVideo" accept="video/*" placeholder="Seleccione el video del producto">
                            </div>                            
                            <div class="mb-3">
                                <label for="txtPrecio" class="form-label">Precio (*)</label>
                                <input type="text" class="form-control" name="txtPrecio" id="txtPrecio" placeholder="Ingrese el precio del producto" required>
                            </div>
                            <div class="mb-3">
                                <label for="txtDescripcion" class="form-label">Descripcion (*)</label>
                                <input type="text" class="form-control" name="txtDescripcion" id="txtDescripcion" placeholder="Ingrese la descripción del producto" required>
                            </div>
                            <button type="submit" class="btn btn-success">Agregar</button>
                        </form>
                            <br>
                        <h6>(*) Campos obligatorios</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mb-3">
                <!-- Formulario para editar productos -->
                <div class="card">
                    <div class="card-header">Editar producto</div>
                    <div class="card-body">
                        <form action="/admin/editar" method="post">
                            <button type="submit" class="btn btn-success">Editar Avanzado</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda fila -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Tabla de productos -->
                <div class="table-responsive">
                    <table class="table table-primary">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Imagen</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Edicion</th>
                                <th scope="col">Eliminacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                            <tr>
                                <td>{{ producto[0] }}</td>
                                <td>{{ producto[1] }}</td>
                                <td>
                                    <img src="/img/{{ producto[2] }}" class="img-thumbnail" alt="{{ producto[2] }}" style="max-width: 100px;">
                                </td>
                                <td>{{ producto[6] }}</td>
                                <td>
                                    <form action="/admin/productos/actalizar" method="post">
                                        <input type="hidden" name="txtID" value="{{ producto[0] }}">
                                        <button type="submit" class="btn btn-primary">Editar</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/admin/productos/borrar" method="post">
                                        <input type="hidden" name="txtID" value="{{ producto[0] }}">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>


